!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Sample
  %body
    .sideMenu
      .sideMenu__userName
        Taro
        .sideMenu__userName--fonts
          = fa_icon("edit")
          = fa_icon("cog")
      .sideMenu__groupInfo
        test_group
        .sideMenu__groupInfo--lastMessage
          last_message
      .sideMenu__groupInfo
        test_group2
        .sideMenu__groupInfo--lastMessage
          last_message2
    .chatMain
      .chatMain__head
        .chatMain__head__group
          sample_group
          .chatMain__head__group--menber
            Taro Ziro Tom
        .chatMain__head__edit
          Edit
      .chatMain__body
        .chatMain__body__oneMess
          Taro
        .chatMain__body__oneMess__time
          2018/03/01 12:45:45
        .chatMain__body__detail
          Shape of water
        .chatMain__body__oneMess
          Ziro
        .chatMain__body__oneMess__time
          2018/03/01 12:50:45
        .chatMain__body__detail
          Get Out
      .chatMain__foot
        .chatMain__foot__body
          Write Message
          .chatMain__foot__body--send
            Send
          .chatMain__foot__body--icon
            = fa_icon("image")
