.sideMenu {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  float: left;
  position: fixed;

  &__userName {
    font-size: 16px;
    font-weight: bold;
    padding: 35px 20px 0;
    color: #ffffff;
    background-color: #253141;
    top: 35px;
    bottom: 0;
    height: 64px;

    &--fonts {
      float: right;
    }
  }

  &__groupInfo {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #2f3e51;
    padding: 0 20px;
    font-size: 15px;

    &--lastMessage {
      margin-top: 5px;
      font-size: 11px;
    }
  }
}

.chatMain {
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;

  &__header {
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #eeeeee;
    height: 97px;

    &__group {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      float: left;

      &--menber {
        font-size: 12px;
        color: #999999;
        padding-top: 15px;
      }
    }

    &__edit {
      float: right;
      border: 1px solid black;
      height: 30px;
      padding-left: 20px;
      padding-right: 20px;
      vertical-align: text-bottom;
      margin-top: 27px;
      padding-top: 5px;
      padding-bottom: 4px;
    }
  }

  &__body {
    background-color: rgba(35, 96, 24, 0.41);
    height: calc(100vh - 96px - 98px);
    padding-top: 46px;
    padding-right: 40px;
    position: relative;
    overflow: auto;
    padding-bottom: 90px;

    &__oneMess {
      font-size: 16px;
      font-weight: bold;
      color: #434A54;
      margin-right: 10px;
      padding-left: 40px;
      display: -webkit-box;

      &__time {
        position: relative;
        font-size: 12px;
        color: #999999;
        padding-top: 4px;
        padding-left:  10px;

      }
    }

    &__detail {
      font-size: 14px;
      color: #434A54;
      clear: both;
      padding: 10px 40px 40px;
    }
    &__image {
      clear: both;
      padding: 10px 40px 0px 40px;
      img{
        height: 200px;
        width: 200px;
      }
    }
  }

  &__footer {
    position: fixed;
    vertical-align: text-bottom;
    display: table-cell;
    bottom: 0;
    font-size: 16px;
    padding-left: 40px;
    width: calc(100vw - 300px - 80px);
    padding-right: 40px;
    background: rgb(217, 218, 174);

    &__body {
      height: 20px;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      vertical-align: bottom;
      padding: 15px 10px 15px 0px;
      width: calc(100vw - 300px - 210px);
      float: left;
      background-color: white;

      &--icon {
        font-size: 2.6em;
        margin-top: 20px;
        padding-top: 7px;
      }
      &--hidden{
        display: none;
      }
    }
    &--send{
      float: right;
      background-color: #38AEF0;
      margin-top: 20px;
      margin-bottom:20px;

      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
      width: 70px;
      text-align: center;

    }
  }
}
